@use 'abstracts' as *;
.main-part{
    display: flex;
}

.result-container{
    background-color: white;
    padding: 3rem;
    flex: 1;
    .heading{
        @include flexbox($justifyContent:space-between);
        flex-wrap: wrap;
        padding-bottom: 0.5rem;
        border-bottom: $underline 1px solid;
        div{ 
            margin-top: auto;
        margin-bottom: 1px;
        }

    }

    .product-list{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
   
    }

    .product{

        cursor: pointer;
       .image-container{
            background-color: $primary;
            img{
            width: 100%;
            height: 300px;
            object-fit: contain;
            transition: transform 0.3s ease-in-out;}
            
        }
        .productDesc:hover{

            p{
                color: $primary-dark ;
                font-weight: 500;
            }
        }

    }
    .product:hover{
        img{
            transform: scale(1.1);

        }

    }

    
}


