@use 'abstracts' as *;
.sidebar{

    background-color:$primary;
    width: fit-content;
    padding: 2rem 0rem  0rem 2rem ;
    @include flexbox($direction:column, $placeItems: flex-start);
    gap: 0.5rem;

    .category-button{
      width: 100%;
      padding:0.5rem  0rem 0.5rem 0.5rem ;
      text-align: start;
      font-family: "Montserrat", sans-serif;
      border: none;
      background-color: $primary;
      cursor: pointer;
      border-bottom: 1px solid $primary-dark;
    }
    .category-button:hover{
      background-color: $primary-dark;
      color: $white;
    }


      .category-buttons{
        max-width: 200px;
      }
    
   
}