@use 'abstracts' as *;
.sidebar{

    background-color:$primary;
    width: fit-content;
    padding: 2rem 0rem  2rem 1rem ;
    @include flexbox($direction:column, $placeItems: flex-start);
    gap: 0.5rem;

    .profile{
        font-weight: bold;
        padding:  0.5 0rem;
    }

    #search {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 10px;
      }

      .category-buttons{
        max-width: 200px;
      }
    
   
}