@use 'abstracts' as *;
.button{

    padding: 0.5rem;
    color: $secondary;
    border: 1px white solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    border-color:  $secondary ;

}

.button:hover{
    background-color: $secondary;
    color: white;
    transition: 0.2s ease-in;
}