@use 'abstracts' as *;
.button{
    margin-top: 1rem;
    padding: 0.8rem;
    color: rgb(8, 92, 8);
    border: 1px white solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    border-color: rgb(8, 92, 8) ;

}

.button:hover{
    background-color: rgb(8, 92, 8);
    color: white;
    transition: 0.2s ease-in;
}