@use 'abstracts' as *;
body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    max-width: 1600px;
    margin: 0 auto;
}
    


.container{
    padding: 1rem;
    width: 100%;
  

}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style: none;
}