@use 'abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-weight: 600;
    color: $primary-dark
    
}
h2{
    font-weight: 600;
    font-size: 1.2rem;
    
}

p{
    color: $grey;
    font-weight: 300;
    font-size: 1rem;
}
